@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #FF8631;
}

header
{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 175px;
}

header ul
{
    position: relative;
    display: flex;
    padding-right: 77px;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #F5EBDC;
    font-weight: 550;
    font-size: 20px;
    margin-left: 70px;
    text-decoration: none;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #F5EBDC;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span
{
    color: #502314;
    font-size: 1.1em;
    font-weight: 900;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 30px;
    background: #502314;
    color: #F5EBDC;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 0px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 700px;   
}